<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCoverServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.UpdateCoverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsDAO</servlet-name>
        <servlet-class>com.smart.rentalhub.dao.SettingsDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountUpdateEmailServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.AccountUpdateEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountChangePasswordServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.AccountChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivacySettingsServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.PrivacySettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreferencesSettingsServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.PreferencesSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.UserSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicProfileServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.PublicProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportsServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.AdminReportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommunityCommentServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.CommunityCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommunityLikeServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.CommunityLikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPostServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.ReportPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DismissReportServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.DismissReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseListingsServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.BrowseListingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowsePropertiesServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.BrowsePropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPropertyServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.EditPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServletProperty</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.ImageServletProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPropertiesServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.MyPropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostPropertyServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.PostPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyDeleteServlet</servlet-name>
        <servlet-class>com.smart.rentalhub.controller.PropertyDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCoverServlet</servlet-name>
        <url-pattern>/UpdateCoverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsDAO</servlet-name>
        <url-pattern>/SettingsDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountUpdateEmailServlet</servlet-name>
        <url-pattern>/AccountUpdateEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountChangePasswordServlet</servlet-name>
        <url-pattern>/AccountChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivacySettingsServlet</servlet-name>
        <url-pattern>/PrivacySettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreferencesSettingsServlet</servlet-name>
        <url-pattern>/PreferencesSettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchServlet</servlet-name>
        <url-pattern>/UserSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicProfileServlet</servlet-name>
        <url-pattern>/PublicProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportsServlet</servlet-name>
        <url-pattern>/AdminReportsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommunityCommentServlet</servlet-name>
        <url-pattern>/CommunityCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommunityLikeServlet</servlet-name>
        <url-pattern>/CommunityLikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/ManageUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPostServlet</servlet-name>
        <url-pattern>/ReportPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DismissReportServlet</servlet-name>
        <url-pattern>/DismissReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowseListingsServlet</servlet-name>
        <url-pattern>/BrowseListingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowsePropertiesServlet</servlet-name>
        <url-pattern>/BrowsePropertiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPropertyServlet</servlet-name>
        <url-pattern>/EditPropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServletProperty</servlet-name>
        <url-pattern>/ImageServletProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPropertiesServlet</servlet-name>
        <url-pattern>/MyPropertiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostPropertyServlet</servlet-name>
        <url-pattern>/PostPropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyDeleteServlet</servlet-name>
        <url-pattern>/PropertyDeleteServlet</url-pattern>
    </servlet-mapping>
</web-app>
